body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url("images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    padding: 3rem;
    color: #fff;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto auto;
    padding-top: 3rem ;
    padding-bottom: 4rem;
}

.about{
   padding: 0.8rem; 
   color: #fff;
   text-decoration: none;
   
}

.loopstudios{
   float: right;
}

.mini-header{
    width: 45%;
    padding-left: 7rem;
}
 
 .immersive{
    border: 2px solid #fff;
    padding: 2rem;
    font-size: 55px;
} 

.virtual-reality{
    display: flex;
    /* width: 80%; */
    padding: 5rem 9rem;
    /* padding: 5rem 6rem; */
}

.virtual-reality-img{
    width: 60%;
    position: relative;
    
}

.VR-text{
    width: 50%;
    position: relative;
    top: 9rem;
    right: 8rem;
    background-color: white !important;
    position: relative;
    padding: 3.5rem 0.5rem 0 4rem;
   
   
}

.leader{
    font-size: 30px;
}

.article{
    font-size: 12.5px;
    line-height: 1.6;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5em;
}


.creations{
    font-size: 30px;
    padding-left: 20px;
}

.see-all{
    padding: 8px 25px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: #fff;
}
.main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 2rem;
    margin: 1rem auto 5.5rem auto;
}

footer{
    background-color: #000;
    padding: 30px 0;
    color: #fff;
}

.main-footer, .mini-footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    
}

.fab{
    padding: 0 5px;
}

.fab:hover{
    text-decoration: underline;
    transition: 3s;
    color: hsla(0, 4%, 77%, 0.905);
    cursor: pointer;
}

.details{
    padding: 6px;
}

.details:hover{
 text-decoration: underline;
 cursor: pointer;
}

.copyright{
    opacity: 0.6;
}

@media screen and (max-width: 980px) {
    body{
        width: 60%;
        /* margin: 0 auto; */
        margin-left: auto;
        margin-right: auto;
    }
    header{
        background-image: url("images/mobile/image-hero.jpg");
        background-repeat: no-repeat;
    }

    .loop{
        font-size: 20px;
        /* padding-left: 40px; */
    }
    .mini-header{
        width: 70%;
        padding: 0 2rem;
    }

    .immersive{
        display: block;
        width: 100%;
        font-size: 40px;
        
    }
    .nav-details{
        display: none;
    }
    
    .virtual-reality{
        display: block;
        padding: 2.5rem;
        /* width: 150%; */
        /* margin: 0 auto; */
        
        
    }

    .virtual-reality-img{
        width: 100%;
    }

    .VR-text{
        display: block;
        text-align: center;
        top: 0;
        right: 0;
        margin: auto;
        /* padding: 50px auto 20px auto; */
    }

    .intro{
        display: block;
        text-align: center;
    }

    .desktop{
        display: none;
    }

    .main{
        display: block;
        width: 100%;
        margin: auto auto;
        padding: 0 1.5rem;
    }

    .creation-images{
        width: 90%;
        height: 30vh;
       padding-top: 10px;
    }

    .mobile{
        text-align: center;
        margin-bottom: 25px;
    }

}
