body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-image: url("images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    padding: 3rem;
    color: #fff;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto auto;
    padding-top: 3rem ;
    padding-bottom: 4rem;
}

.about{
   padding: 0.8rem; 
   color: #fff;
   text-decoration: none;
   
}

.loopstudios{
   float: right;
}

.mini-header{
    width: 45%;
    padding-left: 7rem;
}
 
 .immersive{
    border: 2px solid #fff;
    padding: 2rem;
    font-size: 60px;
} 

.virtual-reality{
    display: flex;
    /* width: 80%; */
    padding: 5rem 9rem;
    /* padding: 5rem 6rem; */
}

.virtual-reality-img{
    width: 60%;
    position: relative;
    
}

.VR-text{
    width: 50%;
    position: relative;
    top: 9rem;
    right: 8rem;
    background-color: white !important;
    position: relative;
    padding: 3.5rem 0.5rem 0 4rem;
   
   
}

.leader{
    font-size: 30px;
}

.article{
    font-size: 12.5px;
    line-height: 1.6;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5em;
}


.creations{
    font-size: 30px;
    padding-left: 20px;
}

.see-all{
    padding: 8px 25px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: #fff;
}
.main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 2rem;
    margin: 1rem auto 2.5rem auto;
}

footer{
    background-color: #000;
    padding: 30px 0;
    color: #fff;
}

.main-footer, .mini-footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    
}

.fab{
    padding: 0 5px;
}

.fab:hover{
    text-decoration: underline;
    transition: 3s;
    color: hsla(0, 4%, 77%, 0.905);
    cursor: pointer;
}

.details{
    padding: 6px;
}

.details:hover{
 text-decoration: underline;
 cursor: pointer;
}

.copyright{
    opacity: 0.6;
}
